@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", serif;
  color: #0c2240;
  background-color: #f2f4f6;
}

.font-poppins {
  font-family: "Poppins", serif;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.dark body {
  background-color: #0c2240;
}

input::-webkit-search-cancel-button {
  display: none;
}

.image-slider .custom-arrow:hover svg path {
  fill: #ebbc13;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.image-slider .slick-slide > * {
  display: inline-block;
}

.leagues-block > *:last-child {
  border-bottom: none;
}

.leagues-block {
  user-select: none;
}

.dropdown-block {
  user-select: none;
}

.title-wrp > *:not(:last-child) {
  border-bottom: 1px solid rgba(12, 34, 64, 0.05);
}

.dark .title-wrp > *:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

select {
  background-image: url("images/selectdropdownsvg.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 11px center;
}

select:focus-visible {
  outline: none;
}

.dark select {
  background-image: url("images/whiteselectdown.svg");
}

.select {
  background-image: url("images/angledown.svg");
}

.dark .select {
  background-image: url("images/angledown.svg");
}
.winners-slider .rfm-child {
  margin: 0 5px;
}

.center-img-slider .slick-dots {
  bottom: 12px;
}
.center-img-slider .slick-dots li button:before {
  font-size: 20px;
  color: #ebbc13;
  opacity: 1;
}
.center-img-slider .slick-dots li.slick-active button:before {
  color: green;
  opacity: 1;
}
.center-img-slider .slick-dots li {
  margin: 0 10px;
}

.sport-section input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(./images/calender.svg) no-repeat;
  width: 20px;
  height: 20px;
}
.sport-first-item select {
  background-image: none;
}

/* react datepicker */
.react-datepicker { font-family: "Poppins", serif; border-radius: 6px!; -webkit-border-radius: 6px!; -moz-border-radius: 6px!; -ms-border-radius: 6px!; -o-border-radius: 6px!; }
.dark .react-datepicker {border-color: #3A4C64;}
.react-datepicker__day { color: #0c2240; }
.react-datepicker__header { background-color: #fff !important; }
.dark .react-datepicker__day {color: #fff;}
.dark .react-datepicker__day:hover {background-color: #0C2240 !important;}
.dark .react-datepicker__header { background-color: #3A4C64 !important; }
.dark .react-datepicker__current-month {color: #fff;}
.dark .react-datepicker__day-name {color: #fff;}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

@media (max-width: 1023px) {
  .scrollable {
    overflow: auto !important;
  }

  .scrollable::-webkit-scrollbar {
    display: none !important;
  }

  .scrollable {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
  }

  .center-img-slider .slick-dots li button:before {
    font-size: 12px;
  }
  .center-img-slider .slick-dots {
    bottom: 8px;
  }
}

@media (max-width: 575px) {
  .image-slider .slick-slide {
    display: flex !important;
    justify-content: center;
  }

  .image-slider-wrp {
    margin-left: 0 !important;
  }
}

@media (max-width: 420px) {
  .image-slider-wrp {
    padding: 0 30px !important;
  }
}

@media (max-width: 390px) {
  .image-slider-wrp {
    padding: 0 50px !important;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 0px;
  background-color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: #e6e6e7;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: none;
  background-color: rgba(82, 79, 79, 0.393);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
